<!-- need to add: who we are/ photo / growing methods, selling method -->

<% provide(:title, @farm.name) %>
<% provide(:hero, @farm.name) %>
<main>

    <div class="card-grid-wrapper">
    <div class="card-grid-padding"></div>
    <div id="card-grid" class="card-grid">
        <p> <%= @farm.address %> </p>
        <p> <%= @farm.phone %> </p>
    </div>
    <div class="card-grid-padding"></div>
  </div>
</main>

 





