<% provide(:title, "Farmer") %>
<% provide(:hero, "Get To Know Our Local Farm") %>

<div class="farmerpic">
    There will be the Farm's picture on the left hand side. The Farm name at the top with a farm statement below that. Contact and a list of products and growing methods in boxes on the right side.
</div>
