<% provide(:title, "Map") %>
<main>
  
    <div class="content-container">
                <!-- map -->
                <div class="col-md-12" id="mapContainer">
                    <div id="farmmap" class="farm-map"></div>
                </div>
                <!-- list of farms -->

                <div class="col-md-3 invisible" id="sidebar">
                <p id="address"> <b> Address: </b> <span id=address-info> </span></p>
                <p id="phone"> <b> Phone: </b> <span id=phone-info> </span> </p>
                <p id="email"> <b> Email: </b>  <span id=email-info> </span> </p>
                <p id="facebook"> <b> Facebook: </b>  <span id=facebook-info> </span> </p>
                <p id="instagram"> <b> Instagram: </b>  <span id=instagram-info> </span> </p>
                <p id="twitter"> <b> Twitter: </b>  <span id=twitter-info> </span> </p>
                <p id="growing_methods"> <b> Growing Methods: </b>  <span id=growing_methods-info> </span> </p>
                <p id="markets"> <b> Markets: </b>  <span id=markets-info> </span> </p>
                <p id="operations"> <b> Operations: </b>  <span id=operations-info> </span> </p>
                <p id="selling_methods"> <b> Selling Methods: </b>  <span id=selling_methods-info> </span> </p>

                </div>
    </div>
            
  <!--<div id="farmmap" class="farm-map">-->
  <!--    <p>You need to enable JavaScript on this page for the map to work.</p>-->
  <!--</div>-->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQYIkOGccg155GIESrxDpYvL1GgnK1qwQ&callback=initMap"></script>
</main>
