<% provide(:title, "Map") %>
<p>This is the map</p>
<script src="/app/assets/javascripts/application.js">
    initMap();
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQYIkOGccg155GIESrxDpYvL1GgnK1qwQ&callback=initMap"></script>