<% provide(:title, "Home") %>
<% provide(:hero, "Search Local Farms") %>
<main>

  <div class="search-row">
    <div class="search-bar">
      <label for="search-text-home">Search local farms:</label>
      <input type="text" id="search-text-home" placeholder="Search local farms..." class="search-field"></label>
      <label for="search-button-home">Search</label>
      <button type="button"  id="search-button-home" class="search-button"><i class="fa fa-search"></i><p>Search</p></button>
    </div>
  </div>

  <div class="card-grid-wrapper">
    <div class="card-grid-padding"></div>
    <div id="card-grid" class="card-grid"></div>
    <div class="card-grid-padding"></div>
  </div>

</main>
