<% provide(:title, "Home") %>
<div class="search-row">
  <form class="search-bar">
    <input type="text" placeholder="Search local farms..." class="search-field">
    <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
  </form>
</div>