#map {
    border-radius: .1cm;
    height: 70vh;
    width: 100%;
}

.section-title {
    margin: 0px !important;
}

.jumbotron {
    padding-top: 5px !important;
    padding-bottom: 5px !important;    
}
.search {
    margin: 0cm 0cm .25cm 0cm;
    width: 100%;
}

.search-recipes {
    margin: 0px !important;
    width: 100%;
}
.category-button {
    margin: 0cm 0cm .25cm 0cm !important;
}
.list-group-item {
    width: 90%;
    margin: 5% 5% 5% 5% !important;
    padding: 10px 15px 10px 15px;
    border-radius: 10px !important;
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}
.list-group-item:hover {
    background-color: #eeeeee;
}

.list-group {
    height: 70vh;
    overflow: hidden;
    -webkit-animation: autoScrolling 5s linear infinite;
    overflow-y: scroll !important;
}
/*.col-md-4 {
    padding: 0% 5% 0% 5%;
}

.col-md-8 {
    padding: 0% 5% 0% 5%;
}*/

.search-container {
    padding: 2%;
}

.content-container {
    padding: 2% !important;
}

.scrollmenu {
    background-color: #ffffff;
    overflow: auto;
    white-space: nowrap;
}

.scrollmenu-item {
    display: inline-block;
    margin: 10px;
    border-radius: 15px;
    width: 22vw;
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
.scrollmenu-item-section {
    padding: 10px;
}

.scrollmenu-item:hover {
    background-color: #eeeeee;
}

.recipe_image {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;    
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.modal-image {
    width: 40vw;
    padding: 15px;
}

.modal-style {
    margin: 15px !important;
}