<footer>
<div class="social-icons">
  <ul class="list-social-icons">
    <li>
      <a href="#">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/LocalFoodsConnection/">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/localfoodsconnection/">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
  </ul>
</div>

  <div class="site-info">
    <span class="site-phone" rel="tel">(641) 990-0018</span>
    <a href="mailto:info@localfoodsconnection.com" class="site-email"><span>info@localfoodsconnection.com</span></a>
  </div>

</footer>