<header>
    <div class="logo">
        <h1>Local Foods Connection</h1>
        <a href="htttps://www.localfoodsconnection.com"><img src="/assets/logo.png" alt="Local Foods Connection" class="logo-image"/></a>
    </div>
    <input type="checkbox" id="nav-toggle" class="nav-toggle"/>
    <nav role="navigation">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Map</a></li>
            <li><a href="#">Recipes</a></li>
            <li><a href="#">Sign in</a></li>
        </ul>

    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
</header>
<!-- empty row to account for space taken by fixed position header -->
<div class="empty-row"></div>