<header>
    <div class="logo">
        <h1>Local Foods Connection</h1>
        <a href="htttps://www.localfoodsconnection.com"><img src="/assets/logo.png" alt="Local Foods Connection" class="logo-image"/></a>
    </div>
    <input type="checkbox" id="nav-toggle" class="nav-toggle"/>
    <nav role="navigation">
        <ul>
            <li><%= link_to "Home", '#' %></li>
            <li><%= link_to "Map", '#' %></li>
            <li><%= link_to "Recipes", '#' %></li>
            <li><%= link_to "Sign in", '#' %></li>
        </ul>

    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
</header>
<!-- empty row to account for space taken by fixed position header -->
<div class="empty-row" style="height: 80px"></div>