<header>
    <div class="logo">
        <h1 class="sr-only">Local Foods Connection</h1>
        <a href="https://www.localfoodsconnection.com"><img src="/assets/logo.png" alt="Local Foods Connection" class="logo-image"/></a>
    </div>
    <input type="checkbox" id="nav-toggle" class="nav-toggle"/>
    <nav role="navigation">
        <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Map", map_path %></li>
            <li><%= link_to "Sign up", new_farm_path %> </li>
            <li><a href="/admin">Sign In</a></li>
        </ul>

    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
</header>
<!-- empty row to account for space taken by fixed position header -->
<div class="empty-row" style="height: 80px"></div>