    <div class="content-container">
        <!-- map -->
        <div class="col-md-8">
            <div id="map"></div>
        </div>
        <!-- list of farms -->
        <div class="col-md-4">
            <ul id="farmList" class="list-group">
            </ul>
        </div>
    </div>