<div class="col-sm-12 search-container"  name="search", style="color:black;">
    <h1 id = "farms_link">Search Local Farms</h1>
    <!-- search bar -->
    <div class="input-group search">
        <!-- categories -->
        <div class="input-group-btn">
            <button id="category_button" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Address</a></li>
                <li><a href="#">Farm's Name</a></li>
            </ul>
        </div>
        <!-- text area -->
        <input id="search_farm_text" type="text" class="form-control" placeholder="Search for...">
        <!-- search button -->
        <span class="input-group-btn">
            <button id="search_farm" class="btn btn-default" type="button">Search</button>
        </span>
    </div>
    <div class="col-md-14 checkbox" id="checkboxes"" align="left", >
        <label class="checkbox-inline col-md-1"><input type="checkbox" id="checkboxList" value="vegetables" name="checkboxList"> Vegetable <img style="max-height:20px; max-width:20px; overflow: hidden", src="/assets/24broccoli.png"/> </label>
        <label class="checkbox-inline col-md-1"><input type="checkbox" id="checkboxList" value="fruit"  name="checkboxList"> Fruits <img style="max-height:20px; max-width:20px; overflow: hidden" , src="/assets/24apple.png"/> </label>
        <label class="checkbox-inline col-md-1"><input type="checkbox" value="meat" id="checkboxList" name="checkboxList"> Meat <img style="max-height:20px; max-width:20px; overflow: hidden"; src="/assets/64cow.png"/> </label>
         <label class="checkbox-inline col-md-1.5"><input type="checkbox" value="egg" id="checkboxList"  name="checkboxList"> Eggs <img style="max-height:20px; max-width:20px; overflow: hidden"; src="/assets/egg.png"/> </label>
        <label class="checkbox-inline col-md-1.5"><input type="checkbox" value="agritourism" id="checkboxList" name="checkboxList"> Agritourism <img style="max-height:20px; max-width:20px; overflow: hidden"; src="/assets/agricultural.png"/> </label>
        <label class="checkbox-inline col-md-1"><input type="checkbox" value="dairy" id="checkboxList" name="checkboxList"> Dairy <img style="max-height:20px; max-width:20px; overflow: hidden" , src="/assets/24dairy.png"/></label>
        <label class="checkbox-inline col-md-1"><input type="checkbox" value="foodnetwork" id="checkboxList"     name="checkboxList"> Food Pantry </label>
    </div>
    <!-- search farm container -->
    <div class="content-container">
        <!-- map -->
        <div class="col-md-8">
            <div id="map"></div>
        </div>
        <!-- list of farms -->
        <div class="col-md-4">
            <ul id="farmList" class="list-group">
            </ul>
        </div>
    </div>
</div>

<!-- generic modal -->
<div id="generic_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 55vw !important">
        <!-- modal content-->
        <div class="modal-content">
            <!-- modal header -->
            <div id="modal_header" class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <!-- modal tabs -->
            <ul class="nav nav-tabs modal-style">
                <li class="active"><a id="tab_1_title" data-toggle="tab" href="#tab_1">Home</a></li>
                <li><a id="tab_2_title" data-toggle="tab" href="#tab_2">Contacts</a></li>
                <li><a id="tab_3_title" data-toggle="tab" href="#tab_3">Media</a></li>
                <!-- <li><a id="tab_4_title"data-toggle="tab" href="#tab_4">Menu 3</a></li> -->
            </ul>
            <!-- modal tab content -->
            <div class="tab-content modal-style">
                <div id="tab_1" class="tab-pane fade in active">
                </div>
                <div id="tab_2" class="tab-pane fade">
                </div>
                <div id="tab_3" class="tab-pane fade">
                </div>
                <div id="tab_4" class="tab-pane fade">
                </div>
            </div>
            <!-- modal footer -->
            <div id="modal_footer" class="modal-footer">
                <button id="recipe_link_button" type="button" class="btn btn-default" data-dismiss="modal">
                <a id="recipe_link_tag" href="">Go To Recipe</a>
                </button>
                <button id="contact_button" type="button" class="btn btn-default">
                <a><span class="glyphicon glyphicon-envelope"></span> Email us </a>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQYIkOGccg155GIESrxDpYvL1GgnK1qwQ&callback=initMap"></script>
</div>