<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!--css -->
        <link rel="stylesheet" href="index.css" TYPE="text/css"><!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- adding a carrot as the tab icon -->
        <link rel="icon" href="/assets/carrot.png" type="image/png" />
    </head>
    <body>
        <nav>
            <div class="logo">
                <img src="/assets/logo.png", img style="max-height:60px; max-width:400px"/>
            </div>
            <div id = "button_list">
                <ul>
                    <li><a href="#farms_link"> SEARCH LOCAL FARMS</a></li>
                    <li><a href="#recipe_link"> SEARCH RECIPES</a></li>
                    <li><a href="#recipe_link"> CONTACT US</a></li>
                </ul>
            </div>
        </nav>
        <div class="wrap">
            <div class="image">
                <div class="text">
                    <p>Explore our farms</p>
                </div>
            </div>
        </div>
        <!-- farm area -->
        <div class="col-sm-12 search-container"  name="search", style="color:black;">
            <h1 id = "farms_link">Search Local Farms</h1>
            <!-- search bar -->
            <div class="input-group search">
                <!-- categories -->
                <div class="input-group-btn">
                    <button id="category_button" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Address</a></li>
                        <li><a href="#">Farm's Name</a></li>
                        <li><a href="#">Something else here</a></li>
                    </ul>
                </div>
                <!-- text area -->
                <input id="search_farm_text" type="text" class="form-control" placeholder="Search for...">
                <!-- search button -->
                <span class="input-group-btn">
                    <button id="search_farm" class="btn btn-default" type="button">Search</button>
                </span>
            </div>
            <div class="checkbox" id="checkboxes"" align="left", >
                <label class="checkbox-inline"><input type="checkbox" value="vegetables" name="checkboxList"> Vegetable <img style="max-height:20px; max-width:20px; overflow: hidden", src="/assets/24broccoli.png"/> </label>
                <label class="checkbox-inline"><input type="checkbox" value="fruit"  name="checkboxList"> Fruits <img style="max-height:20px; max-width:20px; overflow: hidden" , src="/assets/icons/24apple.png"/> </label>
                <label class="checkbox-inline"><input type="checkbox" value="meat" name="checkboxList"> Meat <img style="max-height:20px; max-width:20px; overflow: hidden"; src="/assets/steak-512.png"/> </label>
                <label class="checkbox-inline"><input type="checkbox" value="agritourism" name="checkboxList"> Agritourism <img style="max-height:20px; max-width:20px; overflow: hidden"; src="/assets/agricultural.png"/> </label>
                <label class="checkbox-inline"><input type="checkbox" value="dairy"  name="checkboxList"> Dairy <img style="max-height:20px; max-width:20px; overflow: hidden" , src="/assets/24dairy.png"/></label>
                <label class="checkbox-inline"><input type="checkbox" value="foodnetwork"  name="checkboxList"> Food Pantry </label>
            </div>
            <!-- search farm container -->
            <div class="content-container">
                <!-- map -->
                <div class="col-md-8">
                    <div id="map"></div>
                </div>
                <!-- list of farms -->
                <div class="col-md-4">
                    <ul id="farmList" class="list-group">
                    </ul>
                </div>
            </div>
        </div>
        <!-- grid for recipes -->
        <div class="col-sm-12 search-container">
            <div id="recipe_header">
                <h1 id="recipe_link">Search Recipes</h1>
            </div>
            <!-- search bar -->
            <div class="input-group search-recipes">
                <input id="recipe_search_text" type="text" class="form-control" placeholder="Peas, Carrots, Steak . . . ">
                <span class="input-group-btn">
                    <button id="search_recipes" class="btn btn-default" type="button">Search</button>
                </span>
            </div>
            <div class="checkbox" id="recipeCheckboxes"" align="left">
                <label class="checkbox-inline"><input type="checkbox" value="peanut_free"  name="recipeCheckboxList"> Peanut-free <img style="max-height:50px; max-width:50px; overflow: hidden" src="../javascript_app/icons/peanut_free.jpg"/> </label>
                <label class="checkbox-inline"><input type="checkbox" value="dairy_free"  name="recipeCheckboxList"> Dairy-free <img style="max-height:50px; max-width:50px; overflow: hidden" src="../javascript_app/icons/dairy_free.png"/> </label>
                <label class="checkbox-inline"><input type="checkbox" value="gluten_free"  name="recipeCheckboxList"> Gluten-free <img style="max-height:50px; max-width:50px; overflow: hidden" src="../javascript_app/icons/gluten_free.png"/> </label>
                <label class="checkbox-inline"><input type="checkbox" value="tree_nut_free"  name="recipeCheckboxList"> Treenut-free <img style="max-height:50px; max-width:50px; overflow: hidden" src="../javascript_app/icons/tree_nut_free.jpg"/> </label>
                <label class="checkbox-inline"><input type="checkbox" value="vegetarian"  name="recipeCheckboxList"> Vegetarian <img style="max-height:50px; max-width:50px; overflow: hidden" src="../javascript_app/icons/vegetarian.jpg"/> </label>
                <label class="checkbox-inline"><input type="checkbox" value="vegan"  name="recipeCheckboxList"> Vegan <img style="max-height:50px; max-width:50px; overflow: hidden" src="../javascript_app/icons/24broccoli.png"/> </label>
                <label class="checkbox-inline"><input type="checkbox" value="kosher"  name="recipeCheckboxList"> Kosher <img style="max-height:50px; max-width:50px; overflow: hidden" src="../javascript_app/icons/kosher.png"/></label>
            </div>
            <div class="content-container">
                <!-- results grid -->
                <div id="recipe_grid" class="row"></div>
            </div>
        </div>
        <!-- generic modal -->
        <div id="generic_modal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg" style="width: 55vw !important">
                <!-- modal content-->
                <div class="modal-content">
                    <!-- modal header -->
                    <div id="modal_header" class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <!-- modal tabs -->
                    <ul class="nav nav-tabs modal-style">
                        <li class="active"><a id="tab_1_title" data-toggle="tab" href="#tab_1">Home</a></li>
                        <li><a id="tab_2_title" data-toggle="tab" href="#tab_2">Contacts</a></li>
                        <li><a id="tab_3_title" data-toggle="tab" href="#tab_3">Menu 2</a></li>
                        <li><a id="tab_4_title"data-toggle="tab" href="#tab_4">Menu 3</a></li>
                    </ul>
                    <!-- modal tab content -->
                    <div class="tab-content modal-style">
                        <div id="tab_1" class="tab-pane fade in active">
                        </div>
                        <div id="tab_2" class="tab-pane fade">
                        </div>
                        <div id="tab_3" class="tab-pane fade">
                        </div>
                        <div id="tab_4" class="tab-pane fade">
                        </div>
                    </div>
                    <!-- modal footer -->
                    <div id="modal_footer" class="modal-footer">
                        <button id="recipe_link_button" type="button" class="btn btn-default" data-dismiss="modal">
                        <a id="recipe_link_tag" href="">Go To Recipe</a>
                        </button>
                        <button id="contact_button" type="button" class="btn btn-default">
                        <a><span class="glyphicon glyphicon-envelope"></span> Email us </a>
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- scripts -->
        <script src="index.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQYIkOGccg155GIESrxDpYvL1GgnK1qwQ&callback=initMap"></script>
    </body>
</html>