@import 'variables';

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
  padding-bottom: 20px;

  text-align: center;

  div:nth-child(odd) {
    background-color:$odd-card-background-color ;
    color: $odd-card-text-color;
    
    font-family: 'JosefinSans';

    src: font-url('JosefinSans/JosefinSans-Bold.ttf') format('truetype');
    src: font-url('JosefinSans/JosefinSans-Regular.ttf') format('truetype');

    a {
      color: $odd-card-text-link-color;
    }
  }

  div:nth-child(even) {
    background-color: $even-card-background-color;
    color: $even-card-text-color;
    
    font-family: 'JosefinSans';

    src: font-url('JosefinSans/JosefinSans-Bold.ttf') format('truetype');
    src: font-url('JosefinSans/JosefinSans-Regular.ttf') format('truetype');

    a {
      color: $even-card-text-link-color;
    }
  }

  .card {
    font-family: $font-stack;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #555555;
    


    &:hover {
      cursor: pointer;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .card-name {
      font-size: 1.5em;
      font-weight: 300;
      margin: 0;
      padding: 0;
      color: inherit;
    }

    p {
      font-size: 1em;
      line-height: 1.5em;
      font-weight: 200;
      padding: 0;
      margin: 0;
      color: inherit;
    }

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Number of grid columns increases by 1 as screen width increases by 400px

/* 2 columns for medium screens */
@media screen and (min-width: 800px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .card-grid-wrapper {
    margin: 30px;
    display: grid;
    grid-template-columns: 80px 1fr 80px;
  }

}

/* 3 columns for large screens */
@media screen and (min-width: 1200px) {
  .card-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .card-grid-wrapper {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
  }
}

/* 4 columns for larger screens */
@media screen and (min-width: 1600px) {
  .card-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .card-grid-wrapper {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
  }
}

/* 5 columns for huge screens */
@media screen and (min-width: 2000px) {
  .card-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .card-grid-wrapper {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
  }
}