@import 'variables';

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
  padding-bottom: 20px;

  text-align: center;

  div:nth-child(odd) {
    background-color: $odd-card-background-color;
    color: $odd-card-text-color;

    a {
      color: $odd-card-text-link-color;
    }
  }

  div:nth-child(even) {
    background-color: $even-card-background-color;
    color: $even-card-text-color;

    a {
      color: $even-card-text-link-color;
    }
  }

  .card {
    font-family: $font-stack;
    padding: 4px 0;


    &:hover {
      cursor: pointer;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .card-name {
      font-size: 1.2em;
      margin: 0;
      padding: 0;
      color: inherit;
    }

    p {
      font-size: 1em;
      line-height: 1.5em;
      padding: 0;
      margin: 0;
      color: inherit;
    }

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .card-grid-wrapper {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
  }

}

@media screen and (min-width: 1200px) {
  .card-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .card-grid-wrapper {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
  }

}