@import 'variables';

// Spaces above and below search row
.search-row {
    margin-top: 20px;
    margin-bottom: 20px;
}

// Centered search bar
.search-bar {
    display: flex;
    justify-content: center;
    

    label, p {
      display: none;
    }
}

// Search text field will fill 70% of screen width and has maxiumum width of 600px
.search-field {
    padding: 8px 15px;
    background: $search-bar-background-color;
    border: 0px solid $search-bar-border-color;
    color: $search-bar-text-color;
    width: 70%;
    max-width: 600px;
    font-size: 16px;
    
}

.search-button {
    position: relative; // Search button sits immediately next to search text field
    padding: 6px 15px;
    left: -8px;
    border: 2px solid $search-button-background-color;
    background-color: $search-button-background-color;
    color: $search-button-text-color;
    cursor: pointer;
    font-size: 13px;
}

.search-button:hover {
    background-color: $search-button-text-color; // colors of button are switched on hover
    color: $search-button-background-color;
}