$green: #698B69;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}

header {
    background: white;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.logo {
    position: relative;
    height: 80px;

    img {
        max-height: 80%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        height: auto;
        margin: auto;
    }

    h1 {
        display: none;
    }
}

.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}


/* Create hamburger menu */
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: black;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}
/* end of hamburger menu */

nav {
    position: absolute;
    text-align: right;
    top: 100%;
    left: 0;
    background: white;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        margin-bottom: 1em;
        margin-left: 1em;
    }

    a {
        color: black;
        text-decoration: none;
        font-size: 13px;
        margin-right: 1em;
        text-transform: uppercase;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-style: normal;
        letter-spacing: 2px;
        line-height: 1em;

        &:hover {
            color: $green;
        }
    }
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

/* HERO IMAGE */

.hero {
    align-items: center;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/hero.jpg");
    height: 50vh;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        color: white;
        margin: auto;
        font-size: 60px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
}

/* FOOTER */
footer {
    display: grid;
    grid-template-columns: 1fr;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.social-icons {
    background-color: rgb(51, 51, 51);
    text-align: center;
}

.list-social-icons {
    padding: 10px 0;
    margin: 0;
    list-style: none;

    li {
        display: inline-block;
    }
    a {
        color: #495057;

        &:hover {
            color: $green;
        }
    }
  .fa-2x {
      font-size: 1rem;
  }
}

.site-info {
    padding: 10px 0;
    background-color: rgb(31, 31, 31);
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    a {
        text-decoration: none;
        color: inherit;
        margin-left: 14px;
    }
}

/* SCREENS WIDER THAN 800PX */

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: left;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        margin-right: 0;
    }
}